#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    ignoreErrors:
        - '#Method ProjectnameNamespace\\Functionality\\Core\\CustomPostTypes::postTypeLabels\(\) is unused.#'
        - '#Method ProjectnameNamespace\\Functionality\\Core\\CustomPostTypes::taxonomyLabels\(\) is unused.#'
    paths:
        - inc/

# See full example in phpstan-full.neon
